  .dashboardLayout {
    height: 100vh;
    margin: -8px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .body {
    flex: 1;
    display: flex;
    min-height: 0;
  }

  .content {
    flex: 1;
    min-width: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
